.product-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-info h1 {
    font-size: 32px;
}

.product-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.product-info p a {
    color: #069;
}

.upload {
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    border: 1px dashed #ddd;
    margin-top: 50px;
    cursor: pointer;
}

.product-info ul {
    margin: 30px 0;
    list-style: none;
}

.product-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.product-info ul li + li{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.product-info ul li .fileInfo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.product-info ul li .fileInfo strong {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    color: #333;
}
.conteudo {
    margin-top: 8em;
}
@media screen and (max-width: 767px) {
    .conteudo {
        margin-top: 11em;
    }
}
.product-info h1 {
    color: #45627f;
    font-weight: bold;
}