.users-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.users-list ul {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.users-list li p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;    
}

.users-list li a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #2c2cf0;
    background: none;
    margin-top: 10px;
    color: #2c2cf0;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.users-list li button {      
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #2c2cf0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;    
    cursor: pointer;
}

.users-list li button:hover{
    background: #fff;
    color: #2c2cf0;
}


.users-list li a:hover {
    background: #2c2cf0;
    color: #fff;
}

.users-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.users-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #2c2cf0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;    
    cursor: pointer;
}

.users-list .actions button:hover{
    background: #fff;
    color: #2c2cf0;
}

.users-list .actions button[disabled]{
    opacity: 0.5;
    cursor: default;
}

.users-list .actions button[disabled]:hover{
    opacity: 0.5;
    background: #2c2cf0;
    color: #fff;
}
.nome-usuario {
    color: #45627f;
}
.lista-usuarios li:hover {
    background-color: #efede9;
}
.badge-ivry {
    background-color: #45627f;
    color: #FFF;
}
.page-link {
    color: #45627f !important;
}
.page-item.active .page-link {
    color: #fff !important;
    background-color: #45627f;
    border-color: #45627f;
}
.page-item.disabled .page-link {
    color: #6c757d !important;
}
.page-none {
    display: none;
}
.paginacao nav {
    margin-top: 5px; 
}
.btn-ivry {
    background-color: #45627f;
    color: #FFF;
}
.btn-sm:hover {
    color: #FFF;
    text-decoration: none;
}
.btn-novo-usuario {
    width: 7em;
    height: auto;
    padding: 1px;
    margin-bottom: 5px;
}
.texto-usuarios {
    color: #45627f;
    font-weight: bold;
}

.linha-lista-user {
    color: #45627f;
    margin: 0;
}
.form-user {
    border: 3px solid #f1f1f1;
    padding: .5em;
}
.btn:hover {
    text-decoration: none;
    color: #e2d5bc !important;
    opacity: 0.8;
}
.btn-sm:hover {
    text-decoration: none;
    color: #e2d5bc !important;
    opacity: 0.8;
}